footer {    
    font-size: 16px;
    color: white;
    background-color: #3D3D3D;
    padding: 10px;
    text-align: center;
    
    
    a {
        text-decoration: none;
        font-size: 16px;
        color: white;
    }
}