.background__game {
    width: 100%;
    height: 100vh;
    background-color: #00867F;
    margin: 0;
    padding-top: 50px;

    .container_game {
        margin: 0 auto;
        height: 95%;
        width: 75%;
        background-color: #DFDFDF;
        border: 5px dashed #9C9C9C;
        box-shadow: 0 0 50px black;
    
        .game {
            width: 100%;
            height: 100%;
            position: relative;

            .game_info {
                width: 250px;
                height: 120px;
                padding: 20px;
                text-shadow: 1px 1px black;
                
                p {
                    font-size: 28px;
                    font-weight: 800;
                    color: #23B100;
                    margin: 5px;
                    span {
                        font-size: 32px;
                        color: #3D3D3D;
                    }
                }
            }   
            
        }
    }
}

//-------- carts ------------

.cart {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 7px solid #D60000;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 10px black;

}

.user__cart {
    bottom: 20px;
    left: 110px;
    position: relative;
    
    p {
        position: absolute;
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        background-color: #D60000;
        border: 5px solid #D60000;
        border-radius: 10px;
        padding: 5px;
        color: white;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 2px 7px black;
    }
}

.opponent__cart {
    top: 20px;
    right: 40px;               
}


// ----------- images -----------
.image {
    position: absolute;
}

.img1 {
    width: 60px;
    height: 60px;
    top: 25px;
    left: 105px;                
}
.img2 {
    top: 115px;
    left: 32px; 
    width: 70px;
    height: 70px;                
}
.img3 {
    bottom: 100px;
    left: 40px;
    width: 70px;
    height: 70px;                 
}
.img4 {
    bottom: 15px;
    left: 135px;
    width: 110px;
    height: 110px;                 
}
.img5 {
    top: 33px;
    right: 85px;
    width: 100px;
    height: 100px;                 
}
.img6 {
    top: 140px;
    right: 20px;
    width: 100px;
    height: 100px;                  
}
.img7 {
    bottom: 60px;
    right: 62px;
    width: 60px;
    height: 60px;                  
}
.img8 {
    bottom: 143px;
    right: 158px;
    width: 100px;
    height: 100px;                 
}

img {
    height: 100%;
}
    
//---------- buttons -----------

.btn_box_pause {                
    position: absolute;
    bottom: 30px;
    right: 130px;
        
    .btn_pause {
        display: inline-block;
        padding: 15px;
        color: white;
        background-color: #FF0000;
        background: linear-gradient(#C50000, #FF0000);
        border-radius: 10px;
        text-decoration: none;
        font-size: 25px;
        font-weight: 600;
        margin: 5px;
        width: 180px;
        text-align: center;
        position: relative;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            border-radius: 10px 10px 0 0;
            top: 1px;
            left: 1px;
            width: calc(100% - 4px);
            height: 50%;
            background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255,255,255,0.2));
        }            
               
        &:hover {
            background: linear-gradient(#860101, #FF0000);
        }
    }
}


//------------ paused game -----------

.paused__game {
    opacity: 0;
}