.container__info {
    margin: 0 auto;
    height: 80%;
    width: 60%;
    background-color: white;
    border: 5px dashed #9C9C9C;
    box-shadow: 0 0 50px black;
    
    .info__cnt {
        padding: 30px;

        .info__title {
            color: orange;
            font-weight: 800;
            border-bottom: 2px solid orange;
        }

        .info__description {
            color: darkslategrey
        }
        
        p {
            position: relative;
            left: 40px;
            padding-right: 10px;
            padding-left: 20px;

            strong {
                color: #C00000;
            }

            span {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-color: #90C02A;
                color: white;
                border-radius: 50%;
                position: absolute;
                left: -40px;
                top: -5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                line-height: 16px;
            }
        }

        

        .btn__box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
    
            .btn__play {
                display: inline-block;
                padding: 15px;
                color: white;
                background-color: orange;
                background: linear-gradient(#FF7B00,orange);
                border-radius: 10px;
                font-size: 25px;
                line-height: 35px;
                font-weight: 600;
                margin: 5px;
                width: 180px;
                text-align: center; 
                position: relative;
                cursor: pointer;

                &:after {
                    content: '';
                    position: absolute;
                    border-radius: 10px 10px 0 0;
                    top: 1px;
                    left: 1px;
                    width: calc(100% - 4px);
                    height: 50%;
                    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255,255,255,0.2));
                }
            
                &:hover {
                    background: linear-gradient(#FF4800,#FF9100);
                }
            
            }
        }

    }
}

