 .container {
        margin: 0 auto;
        height: 80%;
        width: 60%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px dashed #D8D8D8;
        box-shadow: 0 0 50px black;
    
        .intro {
            height: 100%;
            width: 70%;
            h1 {
                margin: 0;
                font-family: 'Gloria Hallelujah', cursive;        font-size: 40px;
                font-size: 140px;
                color: #FFBF50;
                text-align: center;
                text-shadow:  5px 4px rgb(34, 34, 34);
        
                .e {
                    color: lavender;
                }
        
                .f {
                    color: yellowgreen;
                }
        
                .l {
                    color: lightblue
                }
        
                .k {
                    color: pink
                }
        
                .s {
                    color: #C5C5C5;
                }
            }
        
            p {
                text-align: right;
                color: white;
                font-size: 30px;
                font-weight: 300;
                margin-top: -40px;
            }
        
            .btn__box {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
        
                .button {
                    display: inline-block;
                    padding: 15px;
                    color: white;
                    background-color: orange;
                    background: linear-gradient(#FF7B00,orange);
                    border-radius: 10px;
                    font-size: 25px;
                    line-height: 35px;
                    font-weight: 600;
                    margin: 5px;
                    width: 180px;
                    text-align: center; 
                    position: relative;
                    cursor: pointer;

                    &:after {
                        content: '';
                        position: absolute;
                        border-radius: 10px 10px 0 0;
                        top: 1px;
                        left: 1px;
                        width: calc(100% - 4px);
                        height: 50%;
                        background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255,255,255,0.2));
                    }
                
                    &:hover {
                        background: linear-gradient(#FF4800,#FF9100);
                    }
                
                }
            }
        }
    }
