 .container {
        margin: 0 auto;
        height: 80%;
        width: 60%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px dashed #D8D8D8;
    
        .intro {
            height: 100%;
            width: 70%;
            h1 {
                margin: 0;
                font-family: 'Gloria Hallelujah', cursive;        font-size: 40px;
                font-size: 140px;
                color: #FFBF50;
                text-align: center;
        
                .e {
                    color: lavender;
                }
        
                .f {
                    color: yellowgreen;
                }
        
                .l {
                    color: lightblue
                }
        
                .k {
                    color: pink
                }
        
                .s {
                    color: #C5C5C5;
                }
            }
        
            p {
                text-align: right;
                color: white;
                font-size: 30px;
                font-weight: 300;
                margin-top: -40px;
            }
        
            .btn__box {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
        
                a {
                    display: inline-block;
                    padding: 15px;
                    color: white;
                    background-color: orange;
                    border-radius: 10px;
                    text-decoration: none;
                    font-size: 25px;
                    font-weight: 600;
                    margin: 5px;
                    width: 180px;
                    text-align: center;            
                
                    &:hover {
                        background-color: orangered;
                    }
                
                }
            }
        }
    }
