@import 'normalize';
@import 'title';
@import 'instruction';
@import 'game';
@import 'pause';
@import 'footer';


* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}



